{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          { "type": "fix", "release": "patch" },
          { "type": "refactor", "release": "patch" },
          { "type": "docs", "scope": "README", "release": "patch" },
          { "type": "test", "release": "patch" },
          { "type": "new", "release": "minor" },
          { "type": "feature", "release": "minor" },
          { "type": "major", "release": "major" },
          { "scope": "no-release", "release": false }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    ["@semantic-release/git", {
      "assets": ["dist/**/*.{js}", "package.json", "package-lock.json"],
      "message": "release: ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }]
  ]
}